
.button_race {
    background-color: #44b190;
    width: 60%;
    height: 60px;
    border: none;
    color: rgb(250, 244, 244);
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px 0px #2e012440;
    cursor: pointer;
    margin: 30px 30px;
    margin-left: 20%;
}

@keyframes bounce{
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px0);
    }
}

.button_race:hover {
    background: rgba(205, 227, 245, 0.53);
    transition: ease-in-out 0.3s;
    animation: bounce 1s;
    color: 
    #44b190;
}