.general_menu{
    display: flex;
    flex-direction: column;
    max-width: 15%;
    color: #000;
    border-right: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 300px;
}

.menu_coin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h3{
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px;
}

.item{
    cursor:pointer;
    margin: 20px;
}

.item:hover{
    font-size: 18px;
    color: black;
}