.general_menu{
    display: flex;
    color: #000;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.menu_coin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h3{
    font-size: 17px;
    border-radius: 20px;
    padding: 17px;
    box-shadow: 0px 0px 5px;
}

.item{
    cursor:pointer;
    margin: 20px;
}

.general_menu h3:hover{
    color: #1c6c44;
}