@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  margin: 0;
  font-family: 'Uchen', serif;
   background-color: #F5DEB3;
   height: 100vh;
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#000;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

html{
  scroll-behavior: smooth;
}